<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <title>My Profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <h1>Profile</h1>
        <div id='outer'>
            <img src="https://cdn.pixabay.com/photo/2015/10/07/19/46/person-976759_960_720.jpg"/>
            <h4 id='name'>Javoun Long</h4>
            <h4>Todays date is:{{currentTime}} </h4>
            <h4>Username: JLong</h4>
            <h4>ID number: 624845700</h4>
            <h4>Age: 22</h4>
            <h4>Gender: Male</h4>
            <p>No sir I am the legendary Jedi Master</p>
        </div>
    </body>
    
    
    
</html>